*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.05rem;
}

body {
  background: #121212;
  color: #eee;
  height: 100vh;
}

input {
  background: #313131;
  color: #ffffff;
  border: none;
  height: 35px;
}

.o_entries {
  width: 100vw;
  padding: 10px;
}

.a_datePicker {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a_datePicker--shifter {
  padding: 0px 12px 5px;
  background: #212121;
  color: #bbbbbb;
  border: none;
  font-size: 1.5rem;
}

.m_entries {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.a_entry {
  margin-bottom: 3px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.a_entry--food {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  padding-left: 6px;
}

.a_entry--time {
  padding: 10px;
}
